body {
  /*width: 100%;*/
  /*margin: 0 auto;*/
}

#truth-wall {
  width: 100vw;
  height: 100vh;
}

#new-fortune {
  display: inline-block;
  float: left;
  width: 100%
}

#add-fortune-btn {
  margin: auto;
  display: block;
  top: 50%;
  position: relative;
}

.card {
  display: inline-block;
  width: 50%;
  padding: 15px;
  float: left;
}
