body {
  color: #303030;
}

#truth-wall {
  width: 100vw;
  height: 100vh;
}

#new-fortune {
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
  top: 50%;
}

#add-fortune-btn {
  margin: auto;
  display: block;
  background-color: #303030;
  border-color: #303030;
}

#add-fortune-btn:hover {
  background-color: white;
  color: #303030;
  border-color: white;
}

#add-fortune-btn:focus {
  outline-color: white;
}

.half-btn {
  width: 50% !important;
}

.card {
  display: inline-block;
  width: 50%;
  padding: 15px;
  float: left;
}

.fortune-text {
  top: 40%;
  position: relative;
  font-size: 100%;
}

.deleteBtn {
  color: white;
}

.deleteBtn:hover {
  color: #303030;
}
